body {
    margin:0;
    padding:0;
    font-family: "G",'Open Sans', sans-serif;
  }

header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ACC8E5;
}

  .logo {
    max-width: 50%;
    height:50%;
    padding-left: 30%;
    padding-right:30%;
    padding-top:25%; 
    padding-bottom: 30%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }